.sidebar {
  overflow-y: auto;
  background-color: aliceblue;
  border-radius: 20px;
}

/* small screen */
@media screen and (max-width: 800px) {
  .sidebar {
    padding: 0px 20px;
    min-width: 120px;
    margin-right: 15px;
  }
}

/* big screen */
@media screen and (min-width: 800px) {
  .sidebar {
    padding: 0px 40px;
    min-width: 145px;
    margin-right: 25px;
  }
}
