.app-container {
  display: flex;
}

/* small screen */
@media screen and (max-width: 800px) {
  .exercise-group {
    max-width: 185px;
  }

  .cta-group {
    max-width: 200px;
  }

  .flag {
    max-width: 40px;
  }
}
