.app-container {
  display: flex;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.instructions {
  font-style: italic;
}

/* big screen */
@media screen and (min-width: 800px) {
  .flag {
    max-width: 80px;
  }

  .exercise-group {
    margin-bottom: 100px;
  }

  .instructions {
    margin-bottom: 50px;
  }

  .exercise-group {
    margin-bottom: 100px;
  }

  .checkmark {
    width: 70px;
  }
}

/* small screen */
@media screen and (max-width: 800px) {
  .exercise-group {
    max-width: 185px;
  }

  .cta-group {
    max-width: 200px;
  }

  .flag {
    max-width: 40px;
  }

  .checkmark {
    width: 48px;
    position: absolute;
    left: 120px;
    bottom: 0px;
  }
}
